body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
}

.panel {
    position: absolute;
    width: 300px;
    height: 100%;
    right: 0;
    top: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    padding: 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin: 3px 0 0 0;
}

input {
    margin: 3px 3px 0 3px;
    text-align: right;
}

.Input {
    display: flex;
    justify-content: center;
}
